name: linux-bisect
on:
  workflow_call:
    inputs:
      matrix:
        required: true
        type: string
      conda_env:
        required: True
        type: string
        default: "triton-main"
        description: |
          The conda env to bisect.
      repro_cmdline:
        required: True
        type: string
        description: |
          The repro command line to run, starting with "python run.py", must have "--simple-output".
      good_commit:
        required: True
        type: string
        description: |
          The known good commit (no regression)
      bad_commit:
        required: True
        type: string
        description: |
          The known bad commit (has regression)
      functional:
        type: boolean
        required: True
        description: |
          Whether to detect functional regression (True) or performance regression (False)
      regression_threshold:
        type: string
        required: False
        default: "10"
        description: |
          Performance regression threshold in %. Only used when functional is False.

jobs:
  linux-bisect:
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(inputs.matrix) }}
    if: github.repository_owner == 'meta-pytorch'
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 480
    environment: docker-s3-upload
    env:
      WORKSPACE_DIR: "/workspace"
      SETUP_SCRIPT: "/workspace/setup_instance.sh"
      UV_VENV_DIR: "/workspace/uv_venvs"
      RUNNER_TYPE: ${{ matrix.runner }}
      CONDA_ENV: ${{ matrix.triton_channel }}
      JOB_NAME: tritonbench-${{ matrix.runner }}-bisect
      GOOD_COMMIT: ${{ inputs.good_commit }}
      BAD_COMMIT: ${{ inputs.bad_commit }}
      REGRESSION_THRESHOLD: ${{ inputs.regression_threshold }}
      REPRO_CMDLINE: ${{ inputs.repro_cmdline }}
      FUNCTIONAL: ${{ inputs.functional && '1' || '0' }}
    steps:
      - name: Checkout Tritonbench
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Tritonbench env
        run: |
          set -eux
          if [[ "${CONDA_ENV}" == "meta-triton" ]]; then
            CMD_SUFFIX=" --meta-triton"
          elif [[ "${CONDA_ENV}" == "triton-main" ]]; then
            CMD_SUFFIX=" --triton-main"
          else
            echo "Unknown conda env ${CONDA_ENV}"
            exit 1
          fi
          if [[ "${RUNNER_TYPE}" =~ "amd" ]]; then
            CMD_SUFFIX="${CMD_SUFFIX} --hip"
          elif [[ "${RUNNER_TYPE}" =~ "gcp" ]]; then
            exit 0
          else
            echo "Unknown runner type ${RUNNER_TYPE}"
            exit 1
          fi
          bash ./.ci/tritonbench/setup-env.sh ${CMD_SUFFIX}
      - name: Run Bisection
        run: |
          set -eux
          . "${SETUP_SCRIPT}"
          bash ./.ci/bisect/run.sh
      - name: Upload bisect logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.JOB_NAME }}-logs
          path: bisect_logs/
