name: TritonBench Bisect
on:
  workflow_dispatch:
    inputs:
      conda_env:
        type: choice
        default: 'triton-main'
        options:
          - 'triton-main'
          - 'meta-triton'
        description: 'Conda env to bisect'
      runner:
        type: choice
        default: 'h100'
        options:
          - 'h100'
          - 'mi350x'
      bisect_type:
        type: choice
        default: 'performance'
        options:
          - 'performance'
          - 'functional'
      repro_cmdline:
        required: True
        type: string
        description: |
          The command line to reproduce the regression
      good_commit:
        required: True
        type: string
        description: |
          Last good commit (no regression)
      bad_commit:
        required: True
        type: string
        description: |
          First bad commit (has regression)
      regression_threshold:
        type: number
        default: 10
        description: |
          Performance regression threshold in %


jobs:
  set-parameters:
    runs-on: ubuntu-latest
    outputs:
      benchmark_matrix: ${{ steps.set-parameters.outputs.benchmark_matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set parameters
        id: set-parameters
        shell: bash
        env:
          TRITON_CHANNEL: ${{ inputs.conda_env || '' }}
          RUNNER: ${{ inputs.runner || '' }}
        run: |
          set -eux

          # The generated matrix is grouped by benchmark and runner
          python .ci/bisect/generate_bisect_parameters.py \
            --triton-channel "${TRITON_CHANNEL}" \
            --runner "${RUNNER}"

  linux-bisect:
    uses: ./.github/workflows/_linux-bisect.yml
    needs: set-parameters
    with:
      matrix: ${{ needs.set-parameters.outputs.benchmark_matrix }}
      conda_env: ${{ inputs.conda_env }}
      repro_cmdline: ${{ inputs.repro_cmdline }}
      good_commit: ${{ inputs.good_commit }}
      bad_commit: ${{ inputs.bad_commit }}
      functional: ${{ inputs.bisect_type == 'functional' }}
      regression_threshold: ${{ inputs.regression_threshold }}


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}-${{ github.event_name == 'workflow_dispatch' }}
  cancel-in-progress: true
